@tailwind base;
@tailwind components;
@tailwind utilities;

/* TESTE - Delete isso depois */
body {
  background-color: red !important;
}
/* FIM DO TESTE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}
